@import "tailwindcss";

@theme {
	--color-*: initial;
	--color-primary: oklch(0.2136 0.0483 257.95);
	--color-secondary: oklch(0.3217 0.0584 261.19);
	--color-accent: oklch(0.9077 0.1414 174.34);
	--color-text: oklch(0.8786 0.0455 271.71);
	--color-blank: oklch(1 0 0);
	--color-black: oklch(0 0 0);
	--color-danger: oklch(0.65 0.2011 22.8);
	--font-headers: "Trebuchet MS", "sans-serif";
	--font-text: 'Comic Sans MS', monospace;
}

h2 {
	font-weight: bold;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--color-primary);
	padding: 0 20px;
}

a.active {
	color: var(--color-accent) !important; 
}

.container {
	padding: 0 30px;
	margin: 0 auto;
}

#category-icon {
	padding: 5px;
	border-radius: 50%;
	display: flex;
	width: 30px;
	height: 30px;
	justify-content: center;
	align-items: center;
}

a.active {
  color: red;
}

/* #updateTransactions, select{
	height: 50px
} */